.home-wrapper {
  width: max-content;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.wrapper-container {
  z-index: 1;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
}
.add-note-on {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.add-note-off {
  width: max-content;
  display: none;
}
.opacity-on {
  opacity: 0.4;
}
