.notes-right-wrapper {
  width: 75vw;
  height: 100vh;
  background-color: #dae5f5;
  position: relative;
}
.notes-right-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}
.notes-right-img {
  width: max-content;
}

.notes-right-title {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
}
.notes-right-side-info {
  width: 30rem;
  text-align: center;
  font-weight: 500;
  color: #292929;
  font-size: 16px;
}
.notes-right-lock {
  width: max-content;
  position: absolute;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  align-items: center;
  bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}
.notes-right-lock > img {
  width: 14px;
}
@media (max-width: 1300px) {
  .notes-right-wrapper {
    width: 70vw;
    height: 100vh;
    background-color: #dae5f5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notes-right-img > img {
    width: 30rem;
  }
  .notes-right-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    row-gap: 0.5rem;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .notes-right-wrapper {
    width: 65vw;
    height: 100vh;
    background-color: #dae5f5;
    position: relative;
  }
  .notes-right-img > img {
    width: 25rem;
  }
}
@media (max-width: 850px) {
  .notes-right-wrapper {
    width: 60vw;
    height: 100vh;
    background-color: #dae5f5;
    position: relative;
  }
  .notes-right-img > img {
    width: 20rem;
  }

  .notes-right-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
  }
  .notes-right-side-info {
    width: 25rem;
    text-align: center;
    font-weight: 500;
    color: #292929;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .notes-right-wrapper {
    display: none;
  }
}
